.mytable {
    border-spacing: 0;
    position: relative;
    overflow-x: visible;
    display: inline-table;
    padding-bottom: 30px;
}

th {
    position: sticky;
    top: 0;
    height: 70px;
    max-height: 70px;
    width: 40px;
    overflow: hidden;
}

#charTable {
    position: absolute;
    transition: 100ms;
    left: 0;top: 0;
    z-index: 1000;
    background-color: white;
}

#charTable th {
    background-color: transparent;
    border-color: transparent;
}

#bannerTable {
    position: absolute;
    top: 0;left: 4vw;
}

.mytable tr td, th {
    height: 33px;
    text-align: center;
    background-color: #EBECF0;
    border-color: white;
    min-width: 60px;
    border-width: 3px 1px 3px 1px;
    border-style: solid;
}

.mytable tr:nth-child(odd) td { /* makes default background color different for each row */
    background-color: #EBECF0;
}

.mytable tr:nth-child(even) td {
    background-color: #BEBEBE;
}

.mytable tr:first-child {
    height: 70px;
    position: static;
}

.mytable tr:first-child {
    border-radius: 16px 16px 0 0 !important;
}

#charTable tr td {
    border-radius: 16px 0 0 16px;
}

.lastThing { /**/
    border-radius: 0 16px 16px 0; /* Close circle */
}

.z0.lastThing { /**/
    border-radius: 16px; /* Close circle */
}

#bannerTable tr td:last-child { /* Final table element */
    border-radius: 0 16px 16px 0; /* Close circle */
}

#bannerTable tr td:last-child.z0 { /* Final table element and in banner  */
    border-radius: 16px !important; /* Contained circle */
}

.bottomThingy {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1001;
}


.z0 { /* There might be a better way of doing this, lmao. */ 
    background-color: hsl(120, 100%, 50%) !important;
    border-radius: 16px 0 0 16px;
}

.z1 {
    background-color: hsl(85, 100%, 50%) !important;
}

.z2 {
    background-color: hsl(75, 100%, 50%) !important;
}

.z3 {
    background-color: hsl(70, 100%, 50%) !important;
}

.z4 {
    background-color: hsl(65, 100%, 50%) !important;
}

.z5 {
    background-color: hsl(60, 100%, 50%) !important;
}

.z6 {
    background-color: hsl(55, 100%, 50%) !important;
}

.z7 {
    background-color: hsl(50, 100%, 50%) !important;
}

.z8 {
    background-color: hsl(45, 100%, 50%) !important;
}

.z9 {
    background-color: hsl(40, 100%, 50%) !important;
}

.z10 {
    background-color: hsl(35, 100%, 50%) !important;
}

.z11 {
    background-color: hsl(30, 100%, 50%) !important;
}

.z12 {
    background-color: hsl(27, 100%, 50%) !important;
}

.z13 {
    background-color: hsl(25, 100%, 50%) !important;
}

.z14 {
    background-color: hsl(23, 100%, 50%) !important;
}

.z15 {
    background-color: hsl(21, 100%, 50%) !important;
}

.z16 {
    background-color: hsl(17, 100%, 50%) !important;
}

.z17 {
    background-color: hsl(15, 100%, 50%) !important;
}

.z18 {
    background-color: hsl(12, 100%, 50%) !important;
}

.z19 {
    background-color: hsl(10, 100%, 50%) !important;
}

.z20 {
    background-color: hsl(7, 100%, 50%) !important;
}

.z21 {
    background-color: hsl(5, 100%, 50%) !important;
}

.z22 {
    background-color: hsl(2, 100%, 50%) !important;
}

.z22 {
    background-color: hsl(0, 100%, 50%) !important;
}
